<h1>Welcome</h1>
<div id="counter"></div>

<%= javascript_pack_tag 'countdown' %>

<%= react_component("Hello") %> 

<%= link_to "Photos", controller: "photo", action: "index"%>

<%= link_to "Map", controller: "map", action: "index"%>