<div class="d-flex vh-100 flex-row-reverse" id="homePageContainer">
  <div class="container">        
    <div class="row">
      <div class="col-sm" id="counter"></div>  

      <div class="m-5 col-sm text-center"> 
        <h1>Boulder Bike Tour 2021</h1> 
        <p class="mt-5">Etiam ex ex, condimentum at libero ac, ultrices 
        vestibulum nisi. Curabitur dignissim iaculis ultrices. 
        Sed tempus pretium felis, eget finibus leo. Donec ullamcorper urna ac enim aliquam semper. 
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
        </p>
      </div>   
    </div>
  </div>
  
  <%= javascript_pack_tag 'countdown' %>

</div>
<div id="sloganSection" class="d-flex vh-100">

  <%= link_to 'Help us find a great slogan!', submissions_path, :class => "w-100 h-25 text-center p-5", :id => "announce" %>

</div>
