<div id="generalContainer" class="d-flex flex-column">  
  <h1 class="mx-auto m-5">New Slogan</h1>

  <%= render 'form', submission: @submission %>

  <%= link_to 'Back', submissions_path, :class => "m-5" %>
</div>