// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$base-color: #092835;

#homePageContainer{
  height: 100vh;
  background-image: url('/assets/boulder2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} 