<div id="map"></div>

<%= javascript_pack_tag 'map' %>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDyTSBeiR8Vb1UgRpGawDKcnn4EbJPji7U" %>

<%# <%= javascript_include_tag :async => "async", :defer => "defer", 
"https://maps.googleapis.com/maps/api/js?key=AIzaSyDyTSBeiR8Vb1UgRpGawDKcnn4EbJPji7U&callback=initMap" %> %>

