<div id="pageContentContainer">

  <div id="map"></div>

  <%= javascript_pack_tag 'fetchRiders' %>

  <%= javascript_pack_tag 'map' %>

</div>

<<<<<<< HEAD
=======
<div id="map"></div>
<%= javascript_pack_tag 'map' %>
<script>
//APIkey: AIzaSyDyTSBe8Vb1UgRpGawDKcnn4EbJPji7U
  var map;
  function initMap() {
    map = new google.maps.Map(
            document.getElementById('map'),
            {center: new google.maps.LatLng(40.012394, -105.260928), zoom: 13});
>>>>>>> f3e4f9fc63c3f2d2114bfef68a5fbeb99fea1fc7








<<<<<<< HEAD
=======
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyTSBeiR8Vb1UgRpGawDKcnnPji7U&callback=initMap" async defer></script>
>>>>>>> f3e4f9fc63c3f2d2114bfef68a5fbeb99fea1fc7
